body {
  margin: 0;
  padding: 0;
}

.container{
display: flex;
position: relative;
flex-direction: column;
justify-content: center;

}

.form1 {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
.subform1 {
  display: flex;
  background-color: white;
  border: 1px solid rgb(7, 7, 7);
  width: 340px;
  height:70px ;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  font-size: 25px;

}

.subform2 {
  display: flex;
  background-color: white;
  border: 1px solid rgb(7, 7, 7);
  width: 340px;
  height:70px ;
  margin-left: 10px;
  border-radius: 5px;
  align-items: center;
  font-size: 25px;
}

.form2 {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.subform3 {
  display: flex;
  background-color: white;
  border: 1px solid rgb(7, 7, 7);
  width: 340px;
  height:70px ;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  font-size: 25px;
}

.subform4 {
  display: flex;
  background-color: white;
  border: 1px solid rgb(7, 7, 7);
  width: 340px;
  height:70px ;
  margin-left: 10px;
  border-radius: 5px;
  align-items: center;
  font-size: 25px;
}

.form3 {
  display: flex;
  margin-left: calc(50% - 350px);
  background-color: white;
  border: 1px solid rgb(7, 7, 7);
  height: 70px;
  width: 700px;
  border-radius: 5px;
  margin-bottom: 25px;
  align-items: center;
  font-size: 25px;
}
.form4 {
  background-color: rgb(51, 70, 172);
  border: 1px solid rgb(7, 7, 7);
  display: flex;
  margin-left: calc(50% - 350px);
  height: 70px;
  width: 700px;
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  

}
