nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 0px 30px;
}

h1 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aqua;
}
.head{
padding-bottom: 25px;
padding-top: 40px;
}

.topform{
 font-size: 40px;

}

p {
  margin: 0;
  font-family: cursive;
  color: rgba(248, 242, 242, 0.801);
}

button {
  width: 100px;
  height: 45px;
  border: 2px solid aqua;
  border-radius: 3px;
  background-color: transparent;
  color: aqua;
  font-size: 25px;
  font-family: cursive;
}
